In [10]:
#!/usr/bin/env python

# make sure to install these packages before running:
# pip install pandas
# pip install sodapy

import pandas as pd
from sodapy import Socrata
from passwords import *

# Unauthenticated client only works with public data sets. Note 'None'
# in place of application token, and no username or password:
client = Socrata("data.ny.gov", token)

# Example authenticated client (needed for non-public datasets):
# client = Socrata(data.ny.gov,
#                  MyAppToken,
#                  username="user@example.com",
#                  password="AFakePassword")

# First 2000 results, returned as JSON from API / converted to Python list of
# dictionaries by sodapy.
results = client.get("wujg-7c2s", limit=2000) # increase limit if you want more data

# Convert to pandas DataFrame
results_df = pd.DataFrame.from_records(results)

ModuleNotFoundError: No module named 'pandas'

In [6]:
results_df.infer_objects()

,transit_timestamp,transit_mode,station_complex_id,station_complex,borough,payment_method,fare_class_category,ridership,transfers,latitude,longitude,georeference,:@computed_region_kjdx_g34t,:@computed_region_yamh_8v7k,:@computed_region_wbg7_3whc
0,2023-03-15T17:00:00.000,subway,127,DeKalb Av (L),Brooklyn,metrocard,Metrocard - Seniors & Disability,11.0,0.0,40.70381,-73.91843,"{'type': 'Point', 'coordinates': [-73.91843, 4...",2090,894,820
1,2023-03-15T13:00:00.000,subway,605,"168 St (A,C,1)",Manhattan,metrocard,Metrocard - Students,11.0,0.0,40.840717,-73.93956,"{'type': 'Point', 'coordinates': [-73.93956, 4...",2095,749,791
2,2023-03-15T13:00:00.000,subway,158,"86 St (C,B)",Manhattan,metrocard,Metrocard - Unlimited 7-Day,31.0,0.0,40.78587,-73.96892,"{'type': 'Point', 'coordinates': [-73.96892, 4...",2095,749,751
3,2023-03-15T11:00:00.000,subway,621,"Broadway Junction (A,C,J,L,Z)",Brooklyn,omny,OMNY - Full Fare,65.0,11.0,40.678333,-73.90532,"{'type': 'Point', 'coordinates': [-73.90532, 4...",2090,894,816
4,2023-03-15T21:00:00.000,subway,212,"Kingsbridge Rd (B,D)",Bronx,metrocard,Metrocard - Full Fare,8.0,0.0,40.866978,-73.89351,"{'type': 'Point', 'coordinates': [-73.89351, 4...",2032,307,654
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,2023-03-15T06:00:00.000,subway,608,"4 Av (F,G)/9 St (R)",Brooklyn,metrocard,Metrocard - Full Fare,53.0,7.0,40.67085,-73.988304,"{'type': 'Point', 'coordinates': [-73.988304, ...",2090,894,893
1996,2023-03-15T14:00:00.000,subway,221,21 St-Queensbridge (F),Queens,metrocard,Metrocard - Fair Fare,24.0,3.0,40.754204,-73.94283,"{'type': 'Point', 'coordinates': [-73.94283, 4...",2137,196,873
1997,2023-03-15T17:00:00.000,subway,624,"Chambers St (A,C)/WTC (E)/Park Pl (2,3)/Cortla...",Manhattan,omny,OMNY - Full Fare,3980.0,10.0,40.71411,-74.00858,"{'type': 'Point', 'coordinates': [-74.00858, 4...",2095,749,723
1998,2023-03-15T12:00:00.000,subway,85,"75 St-Elderts Ln (J,Z)",Queens,metrocard,Metrocard - Other,1.0,0.0,40.691322,-73.86714,"{'type': 'Point', 'coordinates': [-73.86714, 4...",2137,196,1168
1999,2023-03-15T04:00:00.000,subway,124,Montrose Av (L),Brooklyn,metrocard,Metrocard - Unlimited 30-Day,2.0,0.0,40.70774,-73.93985,"{'type': 'Point', 'coordinates': [-73.93985, 4...",2090,894,884

In [4]:
results_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 15 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   transit_timestamp            2000 non-null   object
 1   transit_mode                 2000 non-null   object
 2   station_complex_id           2000 non-null   object
 3   station_complex              2000 non-null   object
 4   borough                      2000 non-null   object
 5   payment_method               2000 non-null   object
 6   fare_class_category          2000 non-null   object
 7   ridership                    2000 non-null   object
 8   transfers                    2000 non-null   object
 9   latitude                     2000 non-null   object
 10  longitude                    2000 non-null   object
 11  georeference                 2000 non-null   object
 12  :@computed_region_kjdx_g34t  1969 non-null   object
 13  :@computed_region_yamh_8v7k  2000 non-null   object
 14  :@computed_region_wbg7_3whc  1958 non-null   object
dtypes: object(15)
memory usage: 234.5+ KB

In [3]:
results_df

,transit_timestamp,transit_mode,station_complex_id,station_complex,borough,payment_method,fare_class_category,ridership,transfers,latitude,longitude,georeference,:@computed_region_kjdx_g34t,:@computed_region_yamh_8v7k,:@computed_region_wbg7_3whc
0,2022-03-21T14:00:00.000,subway,444,Gun Hill Rd (5),Bronx,metrocard,Metrocard - Seniors & Disability,3.0,1.0,40.869526,-73.84638,"{'type': 'Point', 'coordinates': [-73.84638, 4...",2032,307,706
1,2022-03-21T05:00:00.000,subway,451,Junction Blvd (7),Queens,metrocard,Metrocard - Unlimited 30-Day,68.0,0.0,40.749146,-73.86953,"{'type': 'Point', 'coordinates': [-73.86953, 4...",2137,196,843
2,2022-03-21T08:00:00.000,subway,440,"116 St (2,3)",Manhattan,metrocard,Metrocard - Unlimited 30-Day,144.0,0.0,40.802097,-73.94962,"{'type': 'Point', 'coordinates': [-73.94962, 4...",2095,749,753
3,2022-03-21T08:00:00.000,subway,44,"Church Av (B,Q)",Brooklyn,omny,OMNY - Full Fare,384.0,23.0,40.650528,-73.96298,"{'type': 'Point', 'coordinates': [-73.96298, 4...",2090,894,810
4,2022-03-21T04:00:00.000,subway,450,103 St-Corona Plaza (7),Queens,metrocard,Metrocard - Seniors & Disability,1.0,0.0,40.749866,-73.8627,"{'type': 'Point', 'coordinates': [-73.8627, 40...",2137,196,838
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,2022-03-21T17:00:00.000,subway,452,90 St-Elmhurst Av (7),Queens,metrocard,Metrocard - Students,33.0,1.0,40.74841,-73.87661,"{'type': 'Point', 'coordinates': [-73.87661, 4...",2137,196,843
1996,2022-03-30T19:00:00.000,subway,236,"Bergen St (F,G)",Brooklyn,metrocard,Metrocard - Fair Fare,12.0,0.0,40.686146,-73.99086,"{'type': 'Point', 'coordinates': [-73.99086, 4...",2090,894,880
1997,2022-03-21T18:00:00.000,subway,80,"121 St (J,Z)",Queens,metrocard,Metrocard - Full Fare,31.0,8.0,40.700493,-73.82829,"{'type': 'Point', 'coordinates': [-73.82829, 4...",2137,196,1165
1998,2022-03-30T09:00:00.000,subway,225,"47-50 Sts-Rockefeller Ctr (B,D,F,M)",Manhattan,metrocard,Metrocard - Full Fare,135.0,4.0,40.758663,-73.98133,"{'type': 'Point', 'coordinates': [-73.98133, 4...",2095,749,743
1999,2022-03-30T20:00:00.000,subway,39,Bay Ridge-95 St (R),Brooklyn,metrocard,Metrocard - Full Fare,18.0,2.0,40.616623,-74.030876,"{'type': 'Point', 'coordinates': [-74.030876, ...",2090,894,887