In [9]:
pip install plotly

Note: you may need to restart the kernel to use updated packages.Requirement already satisfied: plotly in c:\users\sarwa\hackathon\datathon\mta-datathon\env\lib\site-packages (5.24.1)
Requirement already satisfied: tenacity>=6.2.0 in c:\users\sarwa\hackathon\datathon\mta-datathon\env\lib\site-packages (from plotly) (9.0.0)
Requirement already satisfied: packaging in c:\users\sarwa\hackathon\datathon\mta-datathon\env\lib\site-packages (from plotly) (24.1)

[notice] A new release of pip is available: 23.2.1 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [10]:
pip install matplotlib

[notice] A new release of pip is available: 23.2.1 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

Collecting seaborn
  Obtaining dependency information for seaborn from https://files.pythonhosted.org/packages/83/11/00d3c3dfc25ad54e731d91449895a79e4bf2384dc3ac01809010ba88f6d5/seaborn-0.13.2-py3-none-any.whl.metadata
  Using cached seaborn-0.13.2-py3-none-any.whl.metadata (5.4 kB)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in c:\users\sarwa\hackathon\datathon\mta-datathon\env\lib\site-packages (from seaborn) (2.1.1)
Requirement already satisfied: pandas>=1.2 in c:\users\sarwa\hackathon\datathon\mta-datathon\env\lib\site-packages (from seaborn) (2.2.3)
Collecting matplotlib!=3.6.1,>=3.4 (from seaborn)
  Obtaining dependency information for matplotlib!=3.6.1,>=3.4 from https://files.pythonhosted.org/packages/8b/ce/15b0bb2fb29b3d46211d8ca740b96b5232499fc49200b58b8d571292c9a6/matplotlib-3.9.2-cp311-cp311-win_amd64.whl.metadata
  Using cached matplotlib-3.9.2-cp311-cp311-win_amd64.whl.metadata (11 kB)
Collecting contourpy>=1.0.1 (from matplotlib!=3.6.1,>=3.4->seaborn)
  Obtaining dependency information for contourpy>=1.0.1 from https://files.pythonhosted.org/packages/8d/2f/804f02ff30a7fae21f98198828d0857439ec4c91a96e20cf2d6c49372966/contourpy-1.3.0-cp311-cp311-win_amd64.whl.metadata
  Using cached contourpy-1.3.0-cp311-cp311-win_amd64.whl.metadata (5.4 kB)
Collecting cycler>=0.10 (from matplotlib!=3.6.1,>=3.4->seaborn)
  Obtaining dependency information for cycler>=0.10 from https://files.pythonhosted.org/packages/e7/05/c19819d5e3d95294a6f5947fb9b9629efb316b96de511b418c53d245aae6/cycler-0.12.1-py3-none-any.whl.metadata
  Using cached cycler-0.12.1-py3-none-any.whl.metadata (3.8 kB)
Collecting fonttools>=4.22.0 (from matplotlib!=3.6.1,>=3.4->seaborn)
  Obtaining dependency information for fonttools>=4.22.0 from https://files.pythonhosted.org/packages/63/f1/3a081cd047d83b5966cb0d7ef3fea929ee6eddeb94d8fbfdb2a19bd60cc7/fonttools-4.54.1-cp311-cp311-win_amd64.whl.metadata
  Using cached fonttools-4.54.1-cp311-cp311-win_amd64.whl.metadata (167 kB)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\sarwa\hackathon\datathon\mta-datathon\env\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.7)
Requirement already satisfied: packaging>=20.0 in c:\users\sarwa\hackathon\datathon\mta-datathon\env\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (24.1)
Requirement already satisfied: pillow>=8 in c:\users\sarwa\hackathon\datathon\mta-datathon\env\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\sarwa\hackathon\datathon\mta-datathon\env\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.1.4)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\sarwa\hackathon\datathon\mta-datathon\env\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\sarwa\hackathon\datathon\mta-datathon\env\lib\site-packages (from pandas>=1.2->seaborn) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\sarwa\hackathon\datathon\mta-datathon\env\lib\site-packages (from pandas>=1.2->seaborn) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\sarwa\hackathon\datathon\mta-datathon\env\lib\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.16.0)
Using cached seaborn-0.13.2-py3-none-any.whl (294 kB)
Using cached matplotlib-3.9.2-cp311-cp311-win_amd64.whl (7.8 MB)
Using cached contourpy-1.3.0-cp311-cp311-win_amd64.whl (217 kB)
Using cached cycler-0.12.1-py3-none-any.whl (8.3 kB)
Using cached fonttools-4.54.1-cp311-cp311-win_amd64.whl (2.2 MB)
Installing collected packages: fonttools, cycler, contourpy, matplotlib, seaborn
Successfully installed contourpy-1.3.0 cycler-0.12.1 fonttools-4.54.1 matplotlib-3.9.2 seaborn-0.13.2

Requirement already satisfied: matplotlib in c:\users\sarwa\hackathon\datathon\mta-datathon\env\lib\site-packages (3.9.2)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: contourpy>=1.0.1 in c:\users\sarwa\hackathon\datathon\mta-datathon\env\lib\site-packages (from matplotlib) (1.3.0)
Requirement already satisfied: cycler>=0.10 in c:\users\sarwa\hackathon\datathon\mta-datathon\env\lib\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\sarwa\hackathon\datathon\mta-datathon\env\lib\site-packages (from matplotlib) (4.54.1)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\sarwa\hackathon\datathon\mta-datathon\env\lib\site-packages (from matplotlib) (1.4.7)
Requirement already satisfied: numpy>=1.23 in c:\users\sarwa\hackathon\datathon\mta-datathon\env\lib\site-packages (from matplotlib) (2.1.1)
Requirement already satisfied: packaging>=20.0 in c:\users\sarwa\hackathon\datathon\mta-datathon\env\lib\site-packages (from matplotlib) (24.1)
Requirement already satisfied: pillow>=8 in c:\users\sarwa\hackathon\datathon\mta-datathon\env\lib\site-packages (from matplotlib) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\sarwa\hackathon\datathon\mta-datathon\env\lib\site-packages (from matplotlib) (3.1.4)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\sarwa\hackathon\datathon\mta-datathon\env\lib\site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in c:\users\sarwa\hackathon\datathon\mta-datathon\env\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)

[notice] A new release of pip is available: 23.2.1 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [11]:
pip install seaborn

Requirement already satisfied: seaborn in c:\users\sarwa\hackathon\datathon\mta-datathon\env\lib\site-packages (0.13.2)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in c:\users\sarwa\hackathon\datathon\mta-datathon\env\lib\site-packages (from seaborn) (2.1.1)
Requirement already satisfied: pandas>=1.2 in c:\users\sarwa\hackathon\datathon\mta-datathon\env\lib\site-packages (from seaborn) (2.2.3)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in c:\users\sarwa\hackathon\datathon\mta-datathon\env\lib\site-packages (from seaborn) (3.9.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\sarwa\hackathon\datathon\mta-datathon\env\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.3.0)
Requirement already satisfied: cycler>=0.10 in c:\users\sarwa\hackathon\datathon\mta-datathon\env\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\sarwa\hackathon\datathon\mta-datathon\env\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.54.1)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\sarwa\hackathon\datathon\mta-datathon\env\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.7)
Requirement already satisfied: packaging>=20.0 in c:\users\sarwa\hackathon\datathon\mta-datathon\env\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (24.1)
Requirement already satisfied: pillow>=8 in c:\users\sarwa\hackathon\datathon\mta-datathon\env\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\sarwa\hackathon\datathon\mta-datathon\env\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.1.4)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\sarwa\hackathon\datathon\mta-datathon\env\lib\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\sarwa\hackathon\datathon\mta-datathon\env\lib\site-packages (from pandas>=1.2->seaborn) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\sarwa\hackathon\datathon\mta-datathon\env\lib\site-packages (from pandas>=1.2->seaborn) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\sarwa\hackathon\datathon\mta-datathon\env\lib\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [4]:
pip install pandas

Requirement already satisfied: pandas in c:\users\sarwa\hackathon\datathon\mta-datathon\env\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.23.2 in c:\users\sarwa\hackathon\datathon\mta-datathon\env\lib\site-packages (from pandas) (2.1.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\sarwa\hackathon\datathon\mta-datathon\env\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\sarwa\hackathon\datathon\mta-datathon\env\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\sarwa\hackathon\datathon\mta-datathon\env\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\sarwa\hackathon\datathon\mta-datathon\env\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
pip install sodapy

Collecting sodapy
  Obtaining dependency information for sodapy from https://files.pythonhosted.org/packages/d8/27/f092405731decf73bde86b1468ad7d44a5e2623a93101dac0b0d8bd3f914/sodapy-2.2.0-py2.py3-none-any.whl.metadata
  Using cached sodapy-2.2.0-py2.py3-none-any.whl.metadata (15 kB)
Collecting requests>=2.28.1 (from sodapy)
  Obtaining dependency information for requests>=2.28.1 from https://files.pythonhosted.org/packages/f9/9b/335f9764261e915ed497fcdeb11df5dfd6f7bf257d4a6a2a686d80da4d54/requests-2.32.3-py3-none-any.whl.metadata
  Using cached requests-2.32.3-py3-none-any.whl.metadata (4.6 kB)
Collecting charset-normalizer<4,>=2 (from requests>=2.28.1->sodapy)
  Obtaining dependency information for charset-normalizer<4,>=2 from https://files.pythonhosted.org/packages/57/ec/80c8d48ac8b1741d5b963797b7c0c869335619e13d4744ca2f67fc11c6fc/charset_normalizer-3.3.2-cp311-cp311-win_amd64.whl.metadata
  Using cached charset_normalizer-3.3.2-cp311-cp311-win_amd64.whl.metadata (34 kB)
Collecting idna<4,>=2.5 (from requests>=2.28.1->sodapy)
  Obtaining dependency information for idna<4,>=2.5 from https://files.pythonhosted.org/packages/76/c6/c88e154df9c4e1a2a66ccf0005a88dfb2650c1dffb6f5ce603dfbd452ce3/idna-3.10-py3-none-any.whl.metadata
  Using cached idna-3.10-py3-none-any.whl.metadata (10 kB)
Collecting urllib3<3,>=1.21.1 (from requests>=2.28.1->sodapy)
  Obtaining dependency information for urllib3<3,>=1.21.1 from https://files.pythonhosted.org/packages/ce/d9/5f4c13cecde62396b0d3fe530a50ccea91e7dfc1ccf0e09c228841bb5ba8/urllib3-2.2.3-py3-none-any.whl.metadata
  Using cached urllib3-2.2.3-py3-none-any.whl.metadata (6.5 kB)
Collecting certifi>=2017.4.17 (from requests>=2.28.1->sodapy)
  Obtaining dependency information for certifi>=2017.4.17 from https://files.pythonhosted.org/packages/12/90/3c9ff0512038035f59d279fddeb79f5f1eccd8859f06d6163c58798b9487/certifi-2024.8.30-py3-none-any.whl.metadata
  Using cached certifi-2024.8.30-py3-none-any.whl.metadata (2.2 kB)
Using cached sodapy-2.2.0-py2.py3-none-any.whl (15 kB)
Using cached requests-2.32.3-py3-none-any.whl (64 kB)
Using cached certifi-2024.8.30-py3-none-any.whl (167 kB)
Using cached charset_normalizer-3.3.2-cp311-cp311-win_amd64.whl (99 kB)
Using cached idna-3.10-py3-none-any.whl (70 kB)
Using cached urllib3-2.2.3-py3-none-any.whl (126 kB)
Installing collected packages: urllib3, idna, charset-normalizer, certifi, requests, sodapy
Successfully installed certifi-2024.8.30 charset-normalizer-3.3.2 idna-3.10 requests-2.32.3 sodapy-2.2.0 urllib3-2.2.3
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [22]:
#!/usr/bin/env python

# make sure to install these packages before running:
# pip install pandas
# pip install sodapy

import pandas as pd
from sodapy import Socrata
from passwords import *

#  Unauthenticated client only works with public data sets. Note 'None'
# in place of application token, and no username or password:
client = Socrata("data.ny.gov", token)

# Example authenticated client (needed for non-public datasets):
# client = Socrata(data.ny.gov,
#                  MyAppToken,
#                  username="user@example.com",
#                  password="AFakePassword")

# First 2000 results, returned as JSON from API / converted to Python list of
# dictionaries by sodapy.
card = "Metrocard - Fair Fare"

query = f"fare_class_category='{card}'"


results = client.get("wujg-7c2s", where=query, limit=300000) # increase limit if you want more data
#results = client.get("wujg-7c2s", limit=2000) # increase limit if you want more data

# Convert to pandas DataFrame
results_df = pd.DataFrame.from_records(results)

In [23]:
results_df.infer_objects()

,transit_timestamp,transit_mode,station_complex_id,station_complex,borough,payment_method,fare_class_category,ridership,transfers,latitude,longitude,georeference
0,2023-06-22T06:00:00.000,subway,369,Elder Av (6),Bronx,metrocard,Metrocard - Fair Fare,15.0,0.0,40.828583,-73.87916,"{'type': 'Point', 'coordinates': [-73.87916, 4..."
1,2023-06-22T09:00:00.000,subway,351,Van Siclen Av (3),Brooklyn,metrocard,Metrocard - Fair Fare,7.0,1.0,40.665447,-73.8894,"{'type': 'Point', 'coordinates': [-73.8894, 40..."
2,2023-10-03T20:00:00.000,subway,61,50 St (D),Brooklyn,metrocard,Metrocard - Fair Fare,6.0,0.0,40.63626,-73.99479,"{'type': 'Point', 'coordinates': [-73.99479, 4..."
3,2023-10-03T06:00:00.000,subway,260,"75 Av (E,F)",Queens,metrocard,Metrocard - Fair Fare,2.0,0.0,40.71833,-73.837326,"{'type': 'Point', 'coordinates': [-73.837326, ..."
4,2023-06-22T07:00:00.000,subway,343,Nostrand Av (3),Brooklyn,metrocard,Metrocard - Fair Fare,3.0,0.0,40.669846,-73.95046,"{'type': 'Point', 'coordinates': [-73.95046, 4..."
...,...,...,...,...,...,...,...,...,...,...,...,...
299995,2023-11-16T09:00:00.000,subway,204,Beach 67 St (A),Queens,metrocard,Metrocard - Fair Fare,7.0,0.0,40.590927,-73.79692,"{'type': 'Point', 'coordinates': [-73.79692, 4..."
299996,2023-11-16T20:00:00.000,subway,409,Spring St (6),Manhattan,metrocard,Metrocard - Fair Fare,13.0,0.0,40.7223,-73.99714,"{'type': 'Point', 'coordinates': [-73.99714, 4..."
299997,2023-11-16T12:00:00.000,subway,169,"Canal St (A,C,E)",Manhattan,metrocard,Metrocard - Fair Fare,15.0,0.0,40.720825,-74.005226,"{'type': 'Point', 'coordinates': [-74.005226, ..."
299998,2023-11-16T17:00:00.000,subway,41,"7 Av (B,Q)",Brooklyn,metrocard,Metrocard - Fair Fare,20.0,2.0,40.67705,-73.97237,"{'type': 'Point', 'coordinates': [-73.97237, 4..."
299999,2023-11-16T16:00:00.000,subway,303,157 St (1),Manhattan,metrocard,Metrocard - Fair Fare,35.0,1.0,40.83404,-73.94489,"{'type': 'Point', 'coordinates': [-73.94489, 4..."

In [4]:
results_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 15 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   transit_timestamp            2000 non-null   object
 1   transit_mode                 2000 non-null   object
 2   station_complex_id           2000 non-null   object
 3   station_complex              2000 non-null   object
 4   borough                      2000 non-null   object
 5   payment_method               2000 non-null   object
 6   fare_class_category          2000 non-null   object
 7   ridership                    2000 non-null   object
 8   transfers                    2000 non-null   object
 9   latitude                     2000 non-null   object
 10  longitude                    2000 non-null   object
 11  georeference                 2000 non-null   object
 12  :@computed_region_kjdx_g34t  1969 non-null   object
 13  :@computed_region_yamh_8v7k  2000 non-null   object
 14  :@computed_region_wbg7_3whc  1958 non-null   object
dtypes: object(15)
memory usage: 234.5+ KB

In [13]:
results_df.infer_objects()

,transit_timestamp,transit_mode,station_complex_id,station_complex,borough,payment_method,fare_class_category,ridership,transfers,latitude,longitude,georeference,:@computed_region_kjdx_g34t,:@computed_region_yamh_8v7k,:@computed_region_wbg7_3whc
0,2023-08-30T07:00:00.000,subway,358,"Newkirk Av-Little Haiti (2,5)",Brooklyn,metrocard,Metrocard - Unlimited 7-Day,82.0,0.0,40.63997,-73.94841,"{'type': 'Point', 'coordinates': [-73.94841, 4...",2090,894,888
1,2023-08-30T18:00:00.000,subway,301,181 St (1),Manhattan,metrocard,Metrocard - Unlimited 30-Day,26.0,0.0,40.849506,-73.93359,"{'type': 'Point', 'coordinates': [-73.93359, 4...",2095,749,792
2,2023-08-30T12:00:00.000,subway,4,"Broadway (N,W)",Queens,metrocard,Metrocard - Unlimited 30-Day,34.0,0.0,40.76182,-73.92551,"{'type': 'Point', 'coordinates': [-73.92551, 4...",2137,196,878
3,2023-08-30T23:00:00.000,subway,607,"34 St-Herald Sq (B,D,F,M,N,Q,R,W)",Manhattan,metrocard,Metrocard - Full Fare,195.0,3.0,40.749718,-73.98782,"{'type': 'Point', 'coordinates': [-73.98782, 4...",2095,749,717
4,2023-08-30T13:00:00.000,subway,59,9 Av (D),Brooklyn,metrocard,Metrocard - Students,5.0,0.0,40.646294,-73.99432,"{'type': 'Point', 'coordinates': [-73.99432, 4...",2090,894,897
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,2023-08-30T13:00:00.000,subway,405,23 St (6),Manhattan,metrocard,Metrocard - Unlimited 7-Day,94.0,0.0,40.739864,-73.9866,"{'type': 'Point', 'coordinates': [-73.9866, 40...",2095,749,734
1996,2023-08-30T11:00:00.000,subway,301,181 St (1),Manhattan,metrocard,Metrocard - Unlimited 7-Day,47.0,0.0,40.849506,-73.93359,"{'type': 'Point', 'coordinates': [-73.93359, 4...",2095,749,792
1997,2023-08-30T17:00:00.000,subway,612,"Lexington Av-53 St (E,M)/51 St (6)",Manhattan,metrocard,Metrocard - Fair Fare,80.0,3.0,40.757553,-73.969055,"{'type': 'Point', 'coordinates': [-73.969055, ...",2095,749,749
1998,2023-08-30T07:00:00.000,subway,635,"South Ferry (1)/Whitehall St (R,W)",Manhattan,metrocard,Metrocard - Students,3.0,1.0,40.703087,-74.01299,"{'type': 'Point', 'coordinates': [-74.01299, 4...",2095,749,720
1999,2023-08-30T19:00:00.000,subway,72,Fort Hamilton Pkwy (N),Brooklyn,metrocard,Metrocard - Fair Fare,7.0,0.0,40.631386,-74.00535,"{'type': 'Point', 'coordinates': [-74.00535, 4...",2090,894,897

In [23]:
pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\sarwa\hackathon\datathon\mta-datathon\env\lib\site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in c:\users\sarwa\hackathon\datathon\mta-datathon\env\lib\site-packages (from openpyxl) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [26]:
# importing packages
import pandas as pd
import seaborn as sns
# loading dataset
#data = sns.load_dataset("iris")
# draw lineplot
#sns.lineplot(x="sepal_length", y="sepal_width", data=data)

# Load the custom dataset (for example, a CSV file)
data = pd.read_csv("MTA_NYCT_Subway_Fare_Evasion__Beginning_2018.csv", usecols=['Time Period','Fare Evasion'])  # Replace with your file path
print(data)
# Draw a lineplot using Seaborn
#sns.lineplot(x="Transit District", y="Grand Total", data=data)

   Time Period  Fare Evasion
0      2018-Q1           2.8
1      2018-Q2           2.9
2      2018-Q3           3.8
3      2018-Q4           3.4
4      2019-Q1           3.9
5      2019-Q2           3.9
6      2019-Q3           5.7
7      2019-Q4           4.9
8      2020-Q1           6.2
9      2020-Q2           NaN
10     2020-Q3          13.6
11     2020-Q4          11.7
12     2021-Q1          11.3
13     2021-Q2          10.6
14     2021-Q3           9.2
15     2021-Q4           9.8
16     2022-Q1          12.5
17     2022-Q2          12.2
18     2022-Q3          13.4
19     2022-Q4          13.5
20     2023-Q1          11.1
21     2023-Q2          12.3
22     2023-Q3          14.0
23     2023-Q4          13.3
24     2024-Q1          13.6
25     2024-Q2          14.0